@import url('https://fonts.googleapis.com/css2?family=MedievalSharp&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    color: #fff;

    font-family: 'MedievalSharp', cursive;
}


body {
    width: 100vw;
    height: 100vh;
    background: rgb(0,0,0);
    background: -moz-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,2,2,1) 50%, rgba(0,0,0,1) 100%);
    background: -webkit-linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,2,2,1) 50%, rgba(0,0,0,1) 100%);
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(33,2,2,1) 50%, rgba(0,0,0,1) 100%);
}

.startContainer {
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.startContainer p {
    width: 50%;
    text-align: center;
    color: #fff;
}

.btn{
    display: block;
    border: 2px solid #ff7373;
    background-color: #fcf2b1;
    color: #0c0c0c;
    border-radius: 15px;
    padding: 5px 10px;
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    background-color: #ff7373;
    border: 2px solid #fcf2b1;
}

.btn-small {
    font-size: 1rem;
}

.btn-large {
    font-size: 1.5rem;
}


main {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 50px;
}

.logo {
    margin-bottom: 50px;
}

h1 {
    color: #fffad9;
}

.haendler {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.haendler a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;

    font-size: 1.5rem;
}

.haendler img {
    width: 200px;
}

/* Header */

.header *{
    color: #fcf2b1;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
    height: 60px;
    padding: 5px 25px;
    border-bottom: 1px solid transparent;
    border-image: linear-gradient(0.25turn, #fcf2b100, #fcf2b1, #fcf2b100);
    border-image-slice: 1;
    width:100%;
}

.header .logoContainer {
    margin: 0;
    max-height: 100%;
    height: 100%;
    width: 30%;
    margin-right: auto;
}
.header .logo {
    max-height: 100%;
    margin: 0;
    height: 100%;
    width: auto;
    object-fit: cover;
}

.navContainer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 30%;
    margin-left: auto;
  }

.linkContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

.profileLink, .balanceLink {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0 10px;
}
.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    font-size: 0.8rem;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    z-index: 1;
    width: 120px;
    top: 100%;
    left: 0;
    margin-left: -60px;
}
.balanceLink:hover .tooltip-text{
    visibility: visible;
}


.navContainer span {
    margin-left: 5px;
}

.profileIcon, .cartIcon {
    height: 24px;
}

.nav-btn {
    font-size: 1.5rem;
    border-bottom: 1px solid #fcf2b1;
    border-radius: 15px;
    margin: 0 10px;
    padding: 5px 10px;
    transition: .5s ease-in-out;
}
.nav-btn:hover {
    background-color: #fcf2b1;
    color: #0c0c0c;
}


/* Login-Register */
.authContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.authContainer.change {
    justify-content: flex-start;
}


.authContainer form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5px;

    width: fit-content;
    padding: 20px;

    border: 2px solid #fcf2b1;
}

.authContainer form input {
    all: unset;
    margin-bottom: 10px;
    padding: 5px 15px;
    background-color: #fcfcfc;
    border-radius: 5px 15px;
    color: #0c0c0c;
    height: 30px;
}

.authContainer form input[type="submit"] {
    cursor: pointer;
    font-weight: bold;
    padding: 5px 15px;
    transition: ease-in-out .3s;
}
.authContainer form input[type="submit"]:hover {
    background-color: #ffc800;
}

.authContainer form input:last-of-type {
    align-self: flex-end;
}

.authContainer form label {
    align-self: flex-start;
}

.authContainer input[type='radio'] {
    display: none;
}

.authContainer input[type='radio']:checked + label img {
    border: 2px solid #fcf2b1;
    border-radius: 100%;
}


.itemContainer {
    overflow: scroll;
}

/* Profile */

.profileContainer {
    margin-top: 100px;
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
}

.profileInfo {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    border: 1px solid #fcf2b1;
    padding: 15px;
}

.profileSettings {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 15px;
    border: 1px solid #fcf2b1;
    padding: 15px;
}

/* Item-Cards */

.itemContainer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    width: 80vw;
    gap: 20px;
    margin-bottom: 100px;
}

.itemCard {
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 500px;
    min-height: 200px;
    border: 1px solid #fcf2b188;
    border-radius: 5px 15px;
    padding: 15px;
}

.itemInfo {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: space-between;
}

.sellBuy {
    display: flex;
    justify-content: space-between;
    gap: 15px;
}